DB_HOST="Donde esta Hosteado"
DB_USER="Usuario de la Base de Datos"
DB_PASS="Contraseña de la Base de Datos"
DB_INSTANCE="Instancia de la Base de Datos"
DB_NAME="Nombre de la Base de Datos"
PORT="Puerto del Servidor"
JWT_SECRET="Clave para JWT"