DB_HOST=localhost
DB_USER=sa
DB_PASS="contraseña de tu usuario sa" 
DB_NAME=Pizza_Or
PORT=3000
JWT_SECRET=Pizza@Aita!
------------------
DB_USER="Usuario de la Base de Datos"
DB_PASS="Contraseña de la Base de Datos"
DB_INSTANCE="Instancia de la Base de Datos"
DB_NAME="Nombre de la Base de Datos"
PORT="Puerto del Servidor"
JWT_SECRET="Clave para JWT"

EMAIL_USER="Correo Electrónico"
EMAIL_PASS="Clave del Correo Electrónico para apis"
